<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.words" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Words"
        android:usesCleartextTraffic="true" >
        <service
            android:name=".services.LoginService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.SinglePlayerConnectionService" />
        <service android:name=".services.RegisterService" />
        <service android:name=".services.GameCreateService" />
        <service android:name=".services.GameStartService" />
        <service android:name=".services.GameOverService" />
        <service android:name=".services.GetStatsService" />
    </application>

</manifest>